.top{
    background-color: #E4F9F5;
    padding: 10px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
}
.top-cloud{
    position:relative;
    left: 300px;
    padding-top: 50px;
    bottom: 25px;
}

hr{
    border: dotted #EAF6F6 6px;
    border-bottom: none;
    width: 10%;
    margin: 50px auto;
}

.intro{
    width:30%;
    margin: auto;
}

.middle-container{
    margin: 100px 0;
}

h1{
    margin:0px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 562.5%;
    color: #66BFBF;
}

h2{

    color: #66BFBF;
    font-size: 2.5rem;
    font-family: 'Raleway', sans-serif;
}

h3{
    color: #11999E;
    font-family: 'Raleway', sans-serif;
}

body{
    margin: 0px;
    text-align: center;

    color: #40514E;
    font-family: 'Merriweather Sans', sans-serif;;
}

.skill-row{
    text-align: left;

    margin: 100px auto 100px auto;
    width: 50%;
}

.web{
    font-weight: normal;
}

.design{
    width: 25%;
    float: left;
    margin-right: 30px;
}

.cpp{
    width: 25%;
    float: right;
    margin-left: 20px;
}

a{
    color: #11999E;
    font-family: 'Raleway', sans-serif;
    margin: 10px 20px;
    text-decoration: none;
}

.copyright{
    color:#EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0;
}

a:hover{
    color: #EAF6F6;
}

.bottom-container{
    background-color: #66BFBF;
    padding: 50px 0 20px;
}

.bottom-line{
    width: 40%;
    margin: 40px auto 60px;
    line-height: 1.75;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    font-family: 'Raleway', sans-serif;
    color: #ffffff;
    font-size: 20px;
    padding: 11px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }